:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
  --kumbh-sans: "Kumbh Sans", sans-serif;
}
html {
  font-size: 12px;
  background: linear-gradient(var(--soft-violet), var(--soft-blue));
}
body {
  margin: 0;
  place-content: center;
  min-height: 100vh;
  display: grid;
  font-family: var(--kumbh-sans);
}
.d-desktop-none {
  display: none;
}
.display-none {
  display: none;
}
.main-container {
  width: 80rem;
  max-width: 85vw;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 50px var(--dark-grayish-blue);
}
.card {
  display: flex;
  align-items: center;
  min-height: 40rem;
  position: relative;
}
.card-img {
  width: 50%;
  height: 40rem;
  background: url("./images/bg-pattern-desktop.svg");
  background-size: 195%;
  background-repeat: no-repeat;
  background-position: center right;
  overflow: hidden;
  display: flex;
}
.women-desktop {
  align-self: center;
  width: calc(100% + 5.5rem);
  object-fit: contain;
  margin-left: -5.5rem;
}
.box {
  position: absolute;
  top: 15.5rem;
  left: -130px;
}
.faq-section {
  width: 50%;
  padding: 3rem 5vw;
}
h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.accord-group {
  cursor: pointer;
  min-height: 2.5rem;
  transition: min-height 0.3s ease-in;
}
.accord-group.active {
  min-height: 6.5rem;
}
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.accordion h2 {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--very-dark-grayish-blue);
}
.accordion:hover h2 {
  color: var(--soft-red);
}
.accordion i {
  color: var(--soft-red);
}
.active h2 {
  font-weight: 700;
}
.active:hover h2 {
  color: var(--very-dark-desaturated-blue);
}
.active .fa-chevron-down {
  display: none;
}
.active .fa-chevron-up {
  display: block;
}
.panel {
  opacity: 0;
  height: 0;
  pointer-events: none;
  color: var(--dark-grayish-blue);
  line-height: 1.5rem;
  margin-top: 0;
  transform: translateY(-3rem);
  transition: opacity 0.3s ease-out, transform 0.3s ease, height 0.3s ease;
}
.active p {
  height: auto;
  opacity: 1;
  transform: translateY(0);
}
hr {
  height: 1px;
  background-color: var(--light-grayish-blue);
  border: none;
}
@media only screen and (max-width: 760px) {
  body {
    align-content: start;
    position: relative;
  }
  .main-container {
    width: 30rem;
    margin: 12rem auto 2rem;
  }
  .card {
    flex-wrap: wrap;
    height: 100%;
  }
  .card-img {
    justify-content: center;
    position: absolute;
    width: 70%;
    overflow: auto;
    background-image: url("./images/bg-pattern-mobile.svg");
    background-size: contain;
    background-position: bottom;
    top: -31.5rem;
    left: 14%;
  }
  .women-mobile {
    width: 100%;
    position: absolute;
    bottom: 3rem;
  }
  .faq-section {
    width: 100%;
    margin-top: 20%;
    padding: 3rem 2.5rem;
  }
  .faq-section h1 {
    text-align: center;
  }
  .accord-group h2 {
    margin: 0.9rem 0;
  }
  .d-desktop-none {
    display: block;
  }
  .d-mobile-none {
    display: none;
  }
}
